<!DOCTYPE html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="https://unpkg.com/@atlaskit/css-reset@3.0.5/dist/bundle.css">
    <%- styles %>
  </head>
  <body>
    <div id="root"><%- body %></div>
  </body>
</html>